<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      JEBO TE BOG
    </ion-toolbar>
  </ion-header>

  <div style="justify-content: center;">
    <div style="justify-content: center;">
      <div style="width: 90vw; height: 30vh; font-size: 100px;" [ngStyle]="{'background-color': colorVar1}" id="prvi"> 
        DA
      </div>
      <div style="width: 90vw; height: 30vh; font-size: 100px;" [ngStyle]="{'background-color': colorVar2}" id="drugi">
        NE
      </div>
      <div style="width: 90vw; height: 30vh; font-size: 100px;" [ngStyle]="{'background-color': colorVar3}" id="treci">
        PONOVI
      </div>
    </div>
  </div>

</ion-content>